*{
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', sans-serif;
}

.header
{
	height: 80vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Dental_IMG1.jpg);
	background-position: center;
	background-size: cover;
}

.header_border{
	margin-left: 180px;
	box-shadow: 0 2px 0px #efefef;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top{
	height: 7vh;
	position: relative;
}

.images {
	postition: absolute;
	padding-left:180px
}

.topheader
{
	width:3.8%;
	left: 180px;
}

.toptext {
	transform: translate(120px, -140%);
	width: 80%;
	text-align: right;
}

.toptext ul li
{
	display: inline-block;
	right:0;
	font-size: 100%;
	padding-left: 5%;
	padding-top: 1.1%;
}


nav img{
	width: 500px;
}
.nav-link{
	flex: 1;
	text-align: right;
}
.nav-link ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 45px;
	position: relative;
}
.nav-link ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}
.nav-link ul li::after{
	content: "";
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-link ul li:hover::after{
	width: 100%;
}

.text-box{
	padding-top: 5%;
	width: 90%;
	color: #fff;
	position: absolute;
	text-align: right;
}

.text-box h1{
	font-size: 80px;
}

.btn-request{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.btn-request:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
	
}

/*------ About Us ------*/
.about_us{
	width: 80%;
	height: 500px;
	margin: auto;
	margin-top: 6.5%;
}
.about_us_img{
	width: 600px;
	height: 500.5px;
}

.about_us_text {
	padding: 1px 8px;
	
}

.about_us h1{
	font-size: 50px;
	font-weight: 600;
}

.about_us p{
	font-size: 25px;
	font-weight: 600;
	line-height: 1;
	padding-top: 1%;
	color:#000000;
	
}

/*-------- Team ------*/
.team{
	background-color: #EFEFEF;
	margin-top: 110px;
	opacity: 0.75;
	/*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/smile.jpeg);*/
	position: relative;
	height: 835;
	color: #fff;
}

.team h1{
	padding-top: 20px;
	text-align: center;
}

*{
  box-sizing: border-box;
}

/*------ carousel -----*/

/* Position the image container (needed to position the left and right arrows) */
.container {
	margin-top: 20px;
	position: relative;
    width: 1200px;
	height: 800px;
	align-items: center;
	justify-content: center;
	left: 149px;
	text-align:left;
}

/* Hide the images by default */
.mySlides {
	display: none;
	position: relative;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Bottom right text */
.text-block {
	border-radius: 10px;
box-shadow: 2px 2px 1px black;
  bottom: 0;
  position: absolute;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.1); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 45px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.mySlides img {
	border-radius: 10px;
box-shadow: 2px 2px 1px black;
	vertical-align: middle;
	}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  padding: 2px 17px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
	border-radius: 10px;
	box-shadow: 2px 2px 1px black;
	float: left;
	width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
	border-radius: 10px;
box-shadow: 2px 2px 1px black;
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*----------------------*/

/*------- Hours -------*/
.hours{
	color: #F69E7B;
	margin:auto;
	margin-top: 40px;
  border: 5px solid #73AD21;
  padding: 20px;
  width: 1000;
  height: 500;

}

.hours h1{
	text-align: center;

	
}

.hours_information{
	flex: 1;
	text-align: center;
}
.hours_information ul li{
	list-style: none;
	display: inline-block;
	position: relative;
}

.hours_information ul li img{
	position: relative;
	top:20px;
	width: 20%;
}

.hours_information ul li img alt{
	width: 50%;
}

.hours_information h1{
	text-align:left;
	margin-top:5px;
	font-size: 20px;
}

.info-box{
	margin-top: 0px;
}
.info-box p{
	color: #000000;	
}

.map {
	height: 300px;
	width: 700px;
	transform: translate(32%, -115%);
}

/*---------------------------*/

.cool-stuff{
	
	margin-top: 35px;
}
.cool-stuff row{
	margin: auto;
	margin-top:20px;
}
.cool-stuff-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.cool-stuff-column {

	padding: 20px;
	float: left;
	width: 25%;
}

.cta {
	margin: 100px auto;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/cta2.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
	width: 80%;
}

.cta h1, p{
	color: #fff;
	margin-bottom:40px;
	padding: 0;
	
}

.cta-btn-request {
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 2px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.cta-btn-request:hover{
	border: 2px solid #fff;
	transition: 0.5s;
	border-radius: 15px;
}

.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
	
	
}

.footer h4{
	margin-top: 20px;
	margin-bottom: 25px;
	font-weight:600;
}

.footer p{
	color: #000000;
}

.icons .fab{
	color: #f44336;
}
.footer,.cta h1 {
	font-size: 36px;
	font-weight: 600;
	
}
.footer,.cta p{
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding:10px;
}